<div class="h-24 <%= status_class(day['status']) %> ">
  <div class="w-full h-full flex flex-col lg:flex-row justify-between lg:pt-4 lg:px-4">
    <div class="text-xs pt-2 pl-2 lg:p-0 lg:text-base <%= today?(day['date']) ? 'text-brand-600 font-medium' : 'text-black' %>">
      <%= Date.parse(day['date']).strftime('%d') %>
    </div>
    <div class="flex gap-2 mx-auto mb-2 lg:m-0">
      <% if day['status'] != 'full' %>
        <%= render 'activity_reports/status_button', day:, activity_report:, status: 'full', icon: 'calendar-plus' %>
      <% end %>

      <% if day['status'] != 'half' %>
        <%= render 'activity_reports/status_button', day:, activity_report:, status: 'half', icon: 'circle-slash-2' %>
      <% end %>

      <% if day['status'] != 'off' %>
        <%= render 'activity_reports/status_button', day:, activity_report:, status: 'off', icon: 'calendar-x-2' %>
      <% end %>
    </div>
  </div>
</div>
