<% if actual_month?(date) %>
  <div class="relative" data-controller="switch-class">
    <div>
      <button type="button" data-action="switch-class#trigger" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
        <%= t('.title') %>
        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div data-switch-class-target="element" data-active-class="absolute" data-inactive-class="hidden" class="hidden z-10 mt-2 w-36 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <%= turbo_frame_tag :select_off_days, class: 'py-1' do %>
        <%= form_with model: current_user, url: configured_off_days_path, data: { controller: 'submit-form', submit_form_target: 'form' }, id: 'configured_off_days' do |f| %>
          <% ConfiguredOffDay.day_of_weeks.keys.each do |day| %>
            <% configured_off_day = current_user.configured_off_days.find_by(day_of_week: day) %>
            <div class="text-gray-700 block px-4 py-2 text-sm flex justify-between hover:bg-gray-100">
              <span><%= t(".#{day}") %></span>
              <%= check_box_tag 'user[configured_off_days][]', day.to_s, configured_off_day.present?, 
                                id: "configured_off_day_#{day}", 
                                class: 'w-4 h-4 text-primary bg-gray-100 border-gray-300 rounded focus:ring-secondary focus:ring-2',
                                data: { action: 'input->submit-form#submit' } %>
            </div>
          <% end %>
          <%= hidden_field_tag 'user[activity_report_id]', activity_report_id %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
