<div class="relative" data-controller="switch-class">
  <button type="button" data-action="switch-class#trigger" class="inline-flex justify-center items-center rounded-md bg-white text-brand-950 ring-2 ring-offset-0 ring-brand-300 font-semibold space-x-1 px-3 py-2 text-sm lg:text-base lg:hover:ring-offset-2 lg:transition-all lg:duration-200" id="menu-button" aria-expanded="true" aria-haspopup="true">
    <span><%= t('.title') %></span>
    <svg data-switch-class-target="element" 
         data-active-class="rotate-0" 
         data-inactive-class="rotate-180" 
         class="w-5 rotate-0 lg:w-6 h-auto transition-all duration-200" 
         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
    </svg>
  </button>
  <%= turbo_frame_tag :select_off_days, 
                      class: 'hidden z-10 mt-2 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none py-1 min-w-32 w-32 lg:w-36 right-0 lg:left-0 top-10',
                      data: { 
                        switch_class_target: 'element', 
                        active_class: 'absolute', 
                        inactive_class: 'hidden' 
                      } do %>
    <%= form_with model: current_user, 
                  url: configured_off_days_path, 
                  data: { 
                    controller: 'submit-form', 
                    submit_form_target: 'form' 
                  }, 
                  id: 'configured_off_days', 
                  class: 'py-3' do |f| %>
      <% ConfiguredOffDay.day_of_weeks.keys.each do |day| %>
        <% configured_off_day = current_user.configured_off_days.find_by(day_of_week: day) %>
        <div class="text-brand-950 flex justify-between items-center px-3 lg:px-4">
          <span><%= t(".#{day}") %></span>
          <%= check_box_tag 'user[configured_off_days][]', day.to_s, configured_off_day.present?, 
                                id: "configured_off_day_#{day}", 
                                class: 'w-4 h-4 text-brand-500 bg-white border-brand-950 rounded focus:ring-secondary focus:ring-2',
                                data: { action: 'input->submit-form#submit' } %>
        </div>
      <% end %>
      <%= hidden_field_tag 'user[activity_report_id]', activity_report_id %>
    <% end %>
  <% end %>
</div>
