<div class="w-full py-6 md:p-6 space-y-3 lg:space-y-0">
  <div class="w-full flex flex-col-reverse md:flex-row justify-between items-center">
    <%= render 'navigation', date: @activity_report.start_date %>
    <%= turbo_frame_tag :statistics, class: 'flex space-x-10 items-center mb-2 md:mb-0' do %>
      <%= render 'statistics', total_worked_days: @activity_report.total_worked_days, estimated_income: @activity_report.estimated_income %>
    <% end %>
  </div>
<%= turbo_frame_tag :calendar, class: 'flex w-full' do %>
  <%= render 'calendar', activity_report: @activity_report %>
<% end %>
</div>
