<%= I18n.l @date, format: '%B %Y' %>
<%= link_to '<', root_path(date: @date - 1.month) %>
<%= link_to t('.today'), root_path %>
<%= link_to '>', root_path(date: @date + 1.month) %>
<div class="grid grid-cols-7">
  <% Date::DAYNAMES.rotate.each do |weekday| %>
    <div>
      <%= t('date.day_names')[Date::DAYNAMES.rotate.index(weekday)] %>
    </div>
  <% end %>
  <% month_offset(@date).times do %>
    <div></div>
  <% end %>
  <% @date.all_month.each do |day| %>
    <div class="border min-h-24 <%= 'border-red-500' if day == Date.today %>">
      <%= day.strftime('%d') %>
    </div>
  <% end %>
</div>
