<div class="flex flex-col w-full lg:px-24 xl:px-44 my-12 lg:my-20">
  <div class="w-full flex justify-between items-center mb-8">
    <div class="flex items-center space-x-16">
      <div class="text-5xl font-semibold"><%= I18n.l @activity_report.start_date, format: '%B %Y' %></div>
      <%= render 'select_off_days', date: @activity_report.start_date, activity_report_id: @activity_report.id %>
    </div>
    <div class="flex space-x-16 items-center">
      <div class="text-lg font-semibold">
        Revenu mensuel estimé: <span class="text-primary text-xl">3000 €</span>
      </div>
      <%= render 'months_navigation', date: @activity_report.start_date %>
    </div>
  </div>
  <%= turbo_frame_tag :calendar, class: 'flex w-full' do %>
    <%= render 'calendar', activity_report: @activity_report, user_off_days: current_user.configured_off_days %>
  <% end %>
</div>
