<nav class="bg-gray flex flex-col lg:flex-row justify-between lg:items-center lg:px-44 lg:py-6" data-controller="switch-class">
  <%= link_to root_url, class: 'hidden lg:inline-flex justify-center space-x-2 items-center' do %>
    <%= image_tag 'logo.svg', class: 'w-7' %>
    <span class="font-logo text-lg font-semibold">MicroEntrepreneur</span>
  <% end %>
  <%# Mobile Menu %>
  <div class="w-full select-none flex py-6 px-8 justify-between items-center lg:hidden">
    <%= link_to root_url, class: 'inline-flex space-x-2 items-center' do %>
      <%= image_tag 'logo.svg', class: 'w-6' %>
      <span class="font-logo font-semibold text-black">MicroEntrepreneur</span>
    <% end %>
    <svg class="w-5 h-5" data-action="click->switch-class#trigger" data-switch-class-target="element" data-active-class="block" data-inactive-class="hidden" 
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
    </svg>
    <svg class="hidden w-6 h-6" data-action="click->switch-class#trigger" data-switch-class-target="element" data-active-class="block" data-inactive-class="hidden"
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
  </div>
  <div data-switch-class-target="element" data-active-class="block" data-inactive-class="hidden" class="hidden w-full bg-gray lg:block lg:w-auto">
    <div class="font-medium text-brand-950 flex flex-col lg:flex-row items-center space-y-4 lg:space-y-0 lg:space-x-8 py-6 lg:p-0 rounded-lg lg:bg-transparent lg:text-sm">
      <%= link_to '#pricings', class: 'lg:decoration-brand-200 lg:decoration-2 lg:underline-offset-4 lg:hover:underline  lg:transition-all lg:duration-500' do %>
        <span><%= t('shared.header.pricing') %></span>
      <% end %>
      <%= link_to '#how-it-works', class: 'lg:decoration-brand-200 lg:decoration-2 lg:underline-offset-4 lg:hover:underline  lg:transition-all lg:duration-500' do %>
        <span><%= t('shared.header.how_it_works') %></span>
      <% end %>
      <%= link_to new_user_session_path, class: 'lg:decoration-brand-200 lg:decoration-2 lg:underline-offset-4 lg:hover:underline  lg:transition-all lg:duration-500' do %>
        <span><%= t('shared.header.sign_in') %></span>
      <% end %>
      <%= link_to new_user_registration_path, class: 'text-center text-white rounded-full bg-brand-500 px-4 py-2.5 lg:text-base lg:transition lg:ease-in-out lg:hover:-translate-y-1 lg:hover:scale-105 lg:duration-300' do %>
        <span><%= t('global.cta') %></span>
      <% end %>
    </div>
  </div>
</nav>
