<footer class="bg-white">
  <div class="text-sm text-gray-500 sm:text-center w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="">© <%= Time.zone.now.year %> <%= link_to 'MicroEntrepreneur', root_url, class: 'hover:underline'%>. <%= t('.copyrights') %>
    </span>
    <%= link_to t('.privacy_policies'), privacy_path, class: 'underline' %>
    <%= link_to t('.terms_of_use'), terms_path, class: 'underline' %>
  </div>
</footer>
