<section id="hero" class="bg-white flex flex-col items-center space-y-16 px-6 lg:px-0 pt-8 lg:pt-14 pb-16 lg:pb-28">
  <div class="max-w-7xl mx-auto flex flex-col items-center space-y-8 lg:space-y-12">
    <div class="max-w-3xl flex flex-col items-center space-y-4">
      <%= link_to '#pricings', class: 'w-fit bg-brand-50 rounded-full border-2 border-brand-100 text-center lg:cursor-pointer lg:transition lg:ease-in-out lg:hover:-translate-y-1 lg:duration-300 py-1 px-3 lg:px-4' do %>
        <span class="text-brand-500 text-xs font-medium">✨ Offre de lancement -50% →</span>
      <% end %>
      <h1 class="text-center font-display text-black font-semibold text-4xl lg:text-6xl">
        <span class="text-brand-500">Augmentez votre rentabilité</span> de freelance en régie 
      </h1>
      <h3 class="text-center text-brand-950 text-sm lg:text-lg">Visualisez vos revenus nets mensuels en un coup d'œil et maximisez vos jours de congé pour une rentabilité optimale !</h3>
    </div>
    <%= image_tag 'hero.png', class: 'shadow-lg rounded-lg lg:hidden' %>
    <div class="hidden lg:flex flex-col items-center space-y-3">
      <%= link_to t('global.cta'), new_user_registration_path, class: 'text-off-white rounded-full bg-brand-500 ring ring-4 ring-brand-200 px-6 py-3 text-xl hover:ring-offset-4 transition-all duration-300' %>
      <span class="text-xs text-brand-500">Fait par un freelance pour les freelances</span>
    </div>
  </div>
  <div class="flex lg:hidden flex-col items-center space-y-3">
    <%= link_to t('global.cta'), new_user_registration_path, class: 'text-off-white rounded-full bg-brand-500 ring ring-4 ring-brand-200 px-5 py-2.5 text-lg' %>
    <span class="text-xs text-brand-500">Fait par un freelance pour les freelances</span>
  </div>
  <%= image_tag 'hero.png', class: 'shadow-xl rounded-lg w-4/6 hidden lg:block' %>
</section>
