<section id="references" class="w-full flex-col text-center bg-primary space-y-12 lg:space-y-24 mt-20 lg:mt-32 px-6 lg:px-44 py-12 lg:py-20">
  <h5 class="text-2xl lg:text-3xl font-medium text-slate-100"><%= t('.title') %></h5>
  <div class="w-full grid grid-cols-4 gap-4 place-items-center">
    <%= image_tag 'google_logo.svg', class: 'w-20 lg:w-32' %> 
    <%= image_tag 'amazon_logo.svg', class: 'w-20 lg:w-32' %> 
    <%= image_tag 'meta_logo.svg', class: 'w-20 lg:w-32' %> 
    <%= image_tag 'microsoft_logo.svg', class: 'w-20 lg:w-32' %> 
  </div>
</section>
