<nav class="w-full flex items-center justify-between px-4 py-4 lg:px-8 lg:py-4 bg-brand-50">
  <%= link_to root_path, class:'font-semibold text-xl flex space-x-1.5 items-center' do %>
    <%= image_tag 'logo.svg', class: 'size-7' %>
    <span>MicroEntrepreneur</span>
  <% end %>
  <div class="flex items-center space-x-2 md:space-x-3 lg:space-x-4">
    <ol class="flex space-x-3 md:space-x-4">
      <li class="rounded-full bg-white p-2 cursor-pointer hover:shadow-md">
      <%= link_to root_path do %>
        <%= lucide_icon 'chart-line', class: 'size-5 md:size-6' %>
      <% end %>
      </li>
      <li class="rounded-full bg-white p-2 cursor-pointer hover:shadow-md">
        <%= link_to activity_reports_path do %>
          <%= lucide_icon 'calendar-days', class: 'size-5 md:size-6' %>
        <% end %>
      </li>
    </ol>
    <span class="text-lg md:text-xl">|</span>
    <div class="relative" data-controller="switch-class" data-action="click@window->switch-class#hide">
      <div class="cursor-pointer" data-action="click->switch-class#trigger">
        <%= lucide_icon 'user', class: 'size-6 md:size-7' %>
      </div>
      <div data-switch-class-target="element"
           data-active-class="absolute"
           data-inactive-class="hidden"
           class="hidden z-10 right-0 mt-2 w-48 bg-white rounded-lg shadow-lg border border-gray-200 py-1">
        <%= link_to edit_user_registration_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' do %>
          <%= lucide_icon 'user-pen', class: 'size-4 inline mr-2' %>
          Mon compte
        <% end %>
        <%= link_to edit_average_daily_rate_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' do %>
          <%= lucide_icon 'euro', class: 'size-4 inline mr-2' %>
          Modifier mon TJM
        <% end %>
        <%= link_to edit_configured_off_days_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' do %>
          <%= lucide_icon 'calendar-off', class: 'size-4 inline mr-2' %>
          Jours off
        <% end %>
        <div class="border-t border-gray-200 my-1"></div>
        <%= button_to destroy_user_session_path, method: :delete, class: "w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-50" do %>
          <%= lucide_icon 'log-out', class: 'size-4 inline mr-2' %>
          Déconnexion
        <% end %>
      </div>
    </div>
  </div>
</nav>
