<nav class="w-full flex items-center justify-between px-4 py-4 lg:px-8 lg:py-4 bg-brand-50">
  <div class="font-semibold text-xl flex space-x-1.5 items-center">
    <%= image_tag 'logo.svg', class: 'size-7' %>
    <span>MicroEntrepreneur</span>
  </div>
  <div class="flex items-center space-x-2 md:space-x-3 lg:space-x-4">
    <ol class="flex space-x-3 md:space-x-4">
      <li class="rounded-full bg-white p-2 cursor-pointer hover:shadow-md">
      <%= link_to root_path do %>
        <%= lucide_icon 'chart-line', class: 'size-5 md:size-6' %>
      <% end %>
      </li>
      <li class="rounded-full bg-white p-2 cursor-pointer hover:shadow-md">
        <%= link_to activity_reports_path do %>
          <%= lucide_icon 'calendar-days', class: 'size-5 md:size-6' %>
        <% end %>
      </li>
    </ol>
    <span class="text-lg md:text-xl">|</span>
    <div>
      <%= lucide_icon 'user', class: 'size-6 md:size-7' %>
    </div>
  </div>
</nav>
