<h1 class="text-xl font-bold text-center my-5"><%= t('.title') %></h1>
<section class="px-8 pt-6 pb-8 mb-4">
  <h2 class="text-lg font-semibold"><%= t('.introduction') %></h2>
  <p><%= t('.subtitle') %></p>
  <%= render 'pages/privacy/collected_data' %>
  <%= render 'pages/privacy/your_rights' %>
  <%= render 'pages/privacy/other_informations' %>
</section>
