        
<h1 class="text-xl font-bold text-center my-5"><%= t('.title') %></h1>
<section class="px-8 pt-6 pb-8 mb-4">
  <h2 class="text-lg font-semibold"><%= t('.introduction') %></h2>
  <p><%= t('.introduction_description') %></p>
  <h2 class="text-lg font-semibold mt-4"><%= t('.use_of_the_service') %></h2>
  <p><%= t('.use_of_the_service_description') %></p>
  <h2 class="text-lg font-semibold mt-4"><%= t('.user_accounts') %></h2>
  <p><%= t('.user_accounts_description') %></p>
  <h2 class="text-lg font-semibold mt-4"><%= t('.privacy') %></h2>
  <p><%= t('.privacy_description') %> <%= link_to t('.privacy_link'), privacy_path, class: 'underline' %> <%= t('.privacy_description_manage') %></p>
  <h2 class="text-lg font-semibold mt-4"><%= t('.intellectual_property') %></h2>
  <p><%= t('.intellectual_property_description') %></p>
  <h2 class="text-lg font-semibold mt-4"><%= t('.liability') %></h2>
  <p><%= t('.liability_description') %></p>
  <h2 class="text-lg font-semibold mt-4"><%= t('.modifications') %></h2>
  <p><%= t('.modifications_description') %></p>
  <h2 class="text-lg font-semibold mt-4"><%= t('.contact') %></h2>
  <p><%= t('.contact_description') %></p>
</section>
