<h2 class="text-lg font-semibold mt-4"><%= t('.title') %></h2>
<p><%= t('.data_html') %></p>
<p><%= t('.legal_basis_html') %> <%= link_to t('.legal_basis_link'), terms_path, class: 'underline' %>.</p>
<p><%= t('.use_html') %></p>
