<h2 class="text-lg font-semibold mt-4"><%= t('.data_transfer') %></h2>
<p><%= t('.data_transfer_description') %></p>
<h2 class="text-lg font-semibold mt-4"><%= t('.data_storage') %></h2>
<p><%= t('.data_storage_description') %></p>
<h2 class="text-lg font-semibold mt-4"><%= t('.data_security') %></h2>
<p><%= t('.data_security_description') %></p>
<h2 class="text-lg font-semibold mt-4"><%= t('.privacy_updates') %></h2>
<p><%= t('.privacy_updates_description') %></p>
<h2 class="text-lg font-semibold mt-4"><%= t('.contact') %></h2>
<p><%= t('.contact_description') %></p>
